<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href=@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css") />
    <link rel="stylesheet" href=@Url.Content("~/css/site.css") />
    <script src=@Url.Content("~/lib/jquery/dist/jquery.min.js")></script>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-xl-inline-flex flex-xl-row-reverse">
                    <ul class="navbar-nav flex-grow-1 flex-shrink-0">
                        <li class="nav-item">
                            <a class="nav-link d-inline" href="https://spb.hh.ru/resume/d9153951ff079316af0039ed1f6e714753636e" target="_blank">Александр Мазуренко</a>
                            <div class="nav-link d-inline">для Техностар</div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-inline" href="tel:+79818482332">Пригласить на собеседование: +7 (981) 848 23 32</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-inline" href="https://spb.hh.ru/vacancy/34577148" target="_blank">Вакансия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-inline" asp-controller="Home" asp-action="Task" target="_blank">Скачать задание</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="navbar fixed-bottom navbar-light bg-white border-top box-shadow text-muted">
        <div class="container">
            &copy; 2020 - technostar-test - coolest - test task - on the - block
        </div>
    </footer>
    <script src=@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")></script>
    <script src=@Url.Content("~/js/site.js") asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ad3863d49e.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
